
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    ViewBag.Title = "SachTheoCD";
}
@model IEnumerable<NguyenMinhQuang.SachOnline.Models.SACH>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <h2 class="text-center">SÁCH THEO CHỦ ĐỀ</h2>
    <hr>
    <div class="row text-center">

        @foreach (var sach in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail">
                    <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image" class="img-responsive img-rounded imgbook" style="width: 300px; height: 350px; display: block; margin: auto;">
                    <div class="caption">
                        <div style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })">@sach.TenSach</a>
                        </div>
                        <!--<p>@sach.MoTa</p>-->
                        <p>Mô tả tóm tắt sản phẩm</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span ariahidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@section SliderPartial{
    @Html.Action("SliderPartial", "TrangChu")
}
@section SachBanNhieuPartial{
    @Html.Action("SachBanNhieuPartial", "TrangChu")
}
